<!DOCTYPE html>
<head>
    <title>kutsenochka-art</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>

{% block body %}{% endblock %}

</body>


<footer class="container">
    <div class="row">
        <p class="col-sm-4">kutsenochka-art.com</p>
        <ul class="col-sm-8 text right" id="bottom">
            <li class="col-sm-1">
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook-grey.svg"/>
            </li>
            <li class="col-sm-1">
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter-grey.svg"/>
            </li>
            <li class="col-sm-1">
                <a href="https://www.instagram.com/p/B2bFNTkIcMO/?igshid=l0lvrq2rdpwj" target="_blank">
                    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram-grey.svg"/>
                </a>
            </li>
            <li class="col-sm-1">
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium-grey.svg"/>
            </li>
        </ul>
    </div>
    <h6>&copy; 2019 Kostyantyn Kutsenko</h6>
</footer>

</body>
</html>