{% extends 'base.html' %}

{% block body %}

<body>
<header class="container">
    <div class="row">
        <h1 class="col-sm-4">kutsenochka-art.com</h1>
        <h1 class="col-sm-4" id="log_inform">{{ username }}</h1>
        <nav class="col-sm-4">
            <a href="#"><p>About Me</p></a>
            <a href="/"><p>Home</p></a>
            <a href="/login/"><p class="pill-white" >Log In</p></a>
            <a href="/logout/"><p class="pill-white" >Log Out</p></a>
            <a href="/sign_up/"><p class="pill-white">Sign Up</p></a>
        </nav>
    </div>
</header>

<section class="container">
    <h1 id="greating">Nice to meet you, {{ name }}!</h1>
    {% if courses|length < 1 %}
    <h3 style="text-align: center" id="no_classes">There are no masterclasses to enroll :( New masterclasses coming soon!</h3>
    {% else %}
    <div class="row">
        <div class="col-sm-4">
            {% if user_courses|length > 0 %}
            <h3 id="enrollment">You are already enrolled for:</h3>
            {% for user_course in user_courses %}
                <a href="/delete/{{user_course.course.id}}" id="user_courses_names">{{ user_course.course.name }}</a>
                <br>
            {% endfor %}
            <h3 id="cancel">click on masterclass name to cancel enrollment</h3>
            {% else %}
            <h3 id="not_enrolled">You are not enrolled yet)
                <br>
                Don't miss your chance to have some fun!</h3>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h3 id="request_enrollment">Please, choose masterclasses to enroll:</h3>
            <div class="form" id="form_enrollment">
                <form action="/enrollment/" method="POST">
                {% for course in courses %}
                    <input type="checkbox" name="{{ course.name }}" id={{ course.id }}>
                    <label for={{ course.id }}>{{ course.name }}   {{ course.date_of_event }}</label>
                    <br>
                {% endfor %}
                <br>
                <input type="submit" id="submit" value="Submit">
                </form>
             </div>
        </div>
    {% endif %}
    </div>
</section>
</body>

{% endblock %}
