{% extends 'base.html' %}

{% block head %}
<title>Unemployed people</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">Unemployed people</h1>
    {% if unemployed_people|length < 1 %}
    <h4 style="text-align: center">There are no unemployed people!</h4>
    {% else %}
    <table>
        <tr>
            <th>Date of adding</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>e-mail</th>
            <th>Action</th>
        </tr>
        {% for employee in unemployed_people %}
        <tr>
            <td>{{ employee.date_created.date() }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.email }}</td>
<!--                        <td>{{ employee.department_id }}</td>-->
            <td>
                <a href="/delete_employee/{{employee.id}}">Delete</a>
                <br>
                <a href="/update_employee/{{employee.id}}">Update</a>
                <br>
                <a href="/where_to_employ/{{employee.id}}">To employ</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
