{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div class="content">
    <table>
        <tr>
            <th>Date of adding</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>e-mail</th>
<!--            <th>Action</th>-->
        </tr>
        <tr>
            <td>{{ employee.date_created.date() }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.email }}</td>
            <!--            <td>{{ employee.department_id }}</td>-->
        </tr>
    </table>
    <h3>What department do you want to employ this person in?</h3>
    <table>
        <tr>
            <th>Added</th>
            <th>Name of department</th>
            <th>Action</th>
        </tr>
        {% for department in departments %}
        <tr>
            <td>{{ department.date_created.date() }}</td>
            <td>{{ department.name }}</td>
            <td>
                <a href="/to_employ/{{department.id}}">To employ</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}